<!-- Mermaid.js Load -->
<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    document.querySelectorAll("pre > code.language-mermaid").forEach((codeBlock) => {
        const parent = codeBlock.parentNode;
        const container = document.createElement("div");

        container.classList.add("mermaid");
        container.textContent = codeBlock.textContent;

        parent.replaceWith(container);
    });

    mermaid.initialize({
        startOnLoad: true,
        securityLevel: "loose"
    });
});
</script>

<script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>

