---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

.sidebar .author__avatar img.u-photo {
    width: 150px !important;
    height: 150px !important;
    max-width: 150px !important;
    max-height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.author__bio {
    white-space: normal !important;
    display: block !important;
    line-height: 1.4 !important;
}

/* 제목 본문 폰트 설정 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Pretendard", sans-serif !important;
    font-weight: 700 !important;
}

body {
    font-family: "Pretendard", sans-serif !important;
}

html {
    font-size: 14px !important;
}

/* 다크 모드 */
body.dark {
    background-color: #1e1e1e !important;
    color: #e2e2e2 !important;
}

body.dark a {
    color: #9cd3ff !important;
}

body.dark .sidebar {
    background: #2a2a2a !important;
}

body.dark h1, body.dark h2, body.dark h3 {
    color: #fff !important;
}
