---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

.sidebar .author__avatar img {
    width: 180px !important;
    height: 180px !important;
    object-fit: cover !important;
    border-radius: 50% !important;
}

.author__bio {
    white-space: nowrap !important;
}