---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

.sidebar .author__avatar img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
